<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- VUEJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">        
        <!-- FONT AWSOME -->
        <script src="https://kit.fontawesome.com/fc3e9057b4.js" crossorigin="anonymous"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="./assets/styles/style.css">
        <title>Document</title>
    </head>
        <body>
            <div id="app">
                <!-- HEADER -->
                <div id="header-container">
                    <header class="jumbotron">
                        <nav class="navbar-left">
                            <img :src="headerImage" alt="">
                        </nav>
                        <nav class="navbar-right">
                            <ul>
                                <li v-for="link in navLinks">
                                    <a href="#">{{link.link}}</a> 
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="jumbotron-impact">
                        <h1>NO  PAIN NO  GAIN</h1>
                        <p>Motivation is what gets you started. Habit is what keeps you going.</p>
                        <button>Join us today</button>
                    </div>
                </div>
                <!-- xxx HEADER -->
                <!-- INTERMEZZO -->
                
                    <div class="intermezzo">
                        <h2>WORLD CLASS Fitness</h2>
                        <img src="./assets/img/divider-xx-red.png" alt="">
                        <p>At Avada gym, everything we do from top to bottom is of the highest quality to ensure we're euquipped to help you reach your goals of a healthy and fit lifestyle.</p>
                    </div>
                     <!-- xxx INTERMEZZO -->
                    <!-- SIGN UP SECTION -->
                    <section id="form-section" >
                        <div class="main-container">
                            <div class="img-form">
                                <img :src="formImage" alt="ragazza con tenuta sportiva e ragazzo con pesi">
                            </div>
                            <div class="form-data-info">
                                <h4>sign up for a free training session!</h4>
                                <span>name</span>
                                <input type="text">
                                <span>email</span>
                                <input type="text">
                                <button type="submit">start now!</button>
                            </div>
                        </div>
                    </section>
                     <!-- xxx SIGN UP SECTION -->
                     <!-- ACTIVITY TYPE SECTION -->
                     <section id="activity-section">
                         <div class="main-container">
                            <div class="activity-card" v-for="item in activityCards">
                                <i :class=item.icon></i>
                                <img :src="item.img" alt="">
                                <p>{{item.text}}</p>
                            </div>
                        </div>
                     </section>
                     <!-- xxx ACTIVITY TYPE SECTION -->
                     <!-- REAL WORLD RESULTS SECTION -->
                     <section id="world-results">
                         <div class="world-title">
                             <h2>REAL WORLD RESULTS</h2>
                             <img src="./assets/img/divider-xx-red.png" alt="">
                         </div>
                         <div class="total-cards main-container">
                             <div class="card-container" v-for="item in worldResults">
                                 <div class="card-img">
                                     <img :src="item.img" alt="">
                                 </div>
                                 <div class="card-info">
                                     <p>{{item.txt}}</p>
                                     <p>{{item.author}}</p>
                                 </div>
                             </div>
                         </div>
                     </section>
                     <!-- xxx REAL WORLD RESULTS SECTION -->
                     <!-- HIGH PERFORMACE SECTION -->
                     <section id="high-performance-results">
                         <div class="performance-title">
                             <h2>{{highPerformanceTitle}}</h2>
                             <div>
                                 <img :src="divider" alt="">
                             </div>
                         </div>
                         <div class="total-image main-container">
                            <div class="high-performance-img" v-for="item in highPerformance">
                                <img :src="item.img" alt="">
                            </div>
                        </div>
                     </section>
                     <!-- xxx HIGH PERFORMACE SECTION -->
                     

      



            </div>





            <script src="./assets/js/main.js"></script>
        </body>
</html>