<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/d3js/6.3.1/d3.min.js"></script>
        <!-- VUEJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap" rel="stylesheet">        
        <!-- FONT AWSOME -->
        <script src="https://kit.fontawesome.com/fc3e9057b4.js" crossorigin="anonymous"></script>
        <!-- STYLE -->
        <link rel="stylesheet" href="./assets/styles/style.css">
        <title>Document</title>
    </head>
        <body>
            <div id="app">
                <!-- HEADER -->
                <div id="header-container">
                    <header class="jumbotron">
                        <nav class="navbar-left">
                            <img :src="headerImage" alt="">
                        </nav>
                        <nav class="navbar-right">
                            <ul>
                                <li v-for="link in navLinks">
                                    <a :href="link.reference">{{link.link}}</a>
                                </li>
                            </ul>
                        </nav>
                    </header>
                    <div class="jumbotron-impact">
                        <h1>NO  PAIN NO  GAIN</h1>
                        <p>Motivation is what gets you started. Habit is what keeps you going.</p>
                        <button>Join us today</button>
                    </div>
                </div>
                <!-- xxx HEADER -->
                <!-- INTERMEZZO -->
                
                    <div class="intermezzo  ">
                        <h2 class="show-on-scroll">WORLD CLASS Fitness</h2>
                        <img class="show-on-scroll" src="./assets/img/divider-xx-red.png" alt="">
                        <p class="show-on-scroll">At Avada gym, everything we do from top to bottom is of the highest quality to ensure we're euquipped to help you reach your goals of a healthy and fit lifestyle.</p>
                    </div>
                     <!-- xxx INTERMEZZO -->
                    <!-- FORM UP SECTION -->
                    <section id="form-section" >
                        <div class="form-info main-container">
                            <div class="img-form show-on-scroll">
                                <img :src="formImage" alt="ragazza con tenuta sportiva e ragazzo con pesi">
                            </div>
                            <div class="form-data-info show-on-scroll">
                                <h4>sign up for a free training session!</h4>
                                <span>name</span>
                                <input type="text">
                                <span>email</span>
                                <input type="text">
                                <button type="submit">start now!</button>
                            </div>
                        </div>
                    </section>
                     <!-- xxx FORM UP SECTION -->
                     <!-- ACTIVITY TYPE SECTION -->
                     <section id="activity-section">
                         <div class="main-container">
                            <div class="activity-card show-on-scroll" v-for="item in activityCards">
                                <div class="activity-icon show-on-scroll">
                                    <i :class=item.icon></i>
                                </div>
                                <div class="activity-title">
                                    <p>{{item.activity}}</p>
                                </div>
                                <img :src="item.img" alt="">
                                <div class="activity-info">
                                    <p>{{item.text}}</p>
                                </div>
                            </div>
                        </div>
                     </section>
                     <!-- xxx ACTIVITY TYPE SECTION -->
                     <!-- REAL WORLD RESULTS SECTION -->
                     <section id="world-results">
                         <div class="world-title show-on-scroll">
                             <h2>REAL WORLD RESULTS</h2>
                             <img src="./assets/img/divider-xx-red.png" alt="">
                         </div>
                         <div class="total-cards main-container">
                             <div class="card-container show-on-scroll" v-for="item in worldResults">
                                 <div class="card-img ">
                                     <img :src="item.img" alt="">
                                 </div>
                                 <div class="card-info">
                                     <p>{{item.txt}}</p>
                                     <p>{{item.author}}</p>
                                 </div>
                             </div>
                         </div>
                     </section>
                     <!-- xxx REAL WORLD RESULTS SECTION -->
                     <!-- HIGH PERFORMACE SECTION -->
                     <section id="high-performance-results">
                         <div class="performance-title show-on-scroll">
                             <h2>{{highPerformanceTitle}}</h2>
                             <div>
                                 <img :src="divider" alt="">
                             </div>
                         </div>
                         <div class="total-image main-container">
                            <div class="high-performance-img show-on-scroll" v-for="item in highPerformance">
                                <img :src="item.img" alt="">
                            </div>
                        </div>
                     </section>
                     <!-- xxx HIGH PERFORMACE SECTION -->
                     <!-- INTERMEZZO MOTIVATIONAL SECTION -->
                     <section id="intermezzo-motivational">
                         <div class="motivationl-text show-on-scroll">
                            <h2>{{motivational}}</h2>
                            <img :src="dividerWhite">
                            <p>{{quoteOfTheDay}}</p>
                        </div>
                     </section>
                     <!-- xxx INTERMEZZO MOTIVATIONAL SECTION -->
                     <!-- MEET OUR TRAINERS SECTION -->
                     <section id="meet-our-trainers">
                         <div class="trainers-title show-on-scroll">
                             <h2>{{trainersTitle}}</h2>
                             <img :src="divider" alt="">
                         </div>
                         <div class="trainers-card main-container">
                             <div class="trainer-card show-on-scroll" v-for="item in trainersCard">
                                 <div class="trainer-img">
                                     <img :src="item.img" alt="">
                                 </div>
                                 <div class="trainer-info">
                                     <div class="name-profession">
                                         <p>{{item.name}}</p>
                                         <p>{{item.profession}}</p>
                                     </div>
                                     <div class="description">
                                         <p>{{item.description}}</p>
                                     </div>
                                     <i :class=item.facebook></i>
                                     <i :class=item.twitter></i>
                                     <i :class=item.instagram></i>
                                    </div>
                                </div>
                            </div>
                            <button type="submit">view all trainers</button>
                     </section>
                     <!-- xxx MEET OUR TRAINERS SECTION -->
                     <!-- PERFORMANCE NEWS SECTION -->
                        <section id="performance-news">
                            <div class="trainers-title show-on-scroll">
                                <h2>{{performersTitle}}</h2>
                                <img :src="divider" alt="">
                            </div>
                            <div class="performes-card main-container">
                                <div class="performer-card show-on-scroll" v-for="item in performanceCard">
                                    <div class="performer-img">
                                        <div class="overlay overlay-left">
                                            <div class="overlay-text">
                                                <i class="fas fa-link"></i>
                                                <i class="fas fa-search"></i>
                                             </div>
                                        </div>
                                        <img :src="item.img" alt="">
                                    </div>
                                    <div class="perform-info">
                                        <div class="name-profession">
                                            <p>{{item.title}}</p>
                                        </div>
                                        <div class="description">
                                            <p>{{item.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit">read all articles</button>
                        </section>
                     <!-- xxx PERFORMANCE NEWS SECTION -->
                     <!-- ACHIVE YOU GOALS SECTIONS -->
                        <section id="achieve-your-fitness-goals">
                            <div class="info main-container">
                                <div class="text-info-goals show-on-scroll">
                                    <h2>Achieve your fitness goals</h2>
                                    <p>Flexible membership packages to suit all levels of thlete and achive your fitnes goals</p>
                                </div>
                                <div class="join-us show-on-scroll">
                                    <button type="submit">join us</button>
                                </div>
                            </div>
                        </section>
                     <!-- xxx ACHIVE YOU GOALS SECTIONS -->
                     <!-- FOOTER -->
                     <footer id="footer-top">
                        <div class="footer-info main-container">
                            <div class="come-find-us show-on-scroll" v-for="text in comeFindUs">
                                <p>Come find us</p>
                                <p>{{text.street}}</p>
                                <p>{{text.state}}</p> 
                                <p>{{text.phone}}</p> 
                                <p>{{text.email}}</p>
                            </div> 
                            <div class="recent-posts show-on-scroll" v-for="post in recentPosts">
                                <p class="recent-title">recent posts</p>
                                <div class="recent-top">
                                    <p><i class="fas fa-chevron-right"></i>{{post.training}}</p>
                                </div>
                                <div class="recent-bottom">
                                    <p><i class="fas fa-chevron-right"></i>{{post.nutrition}}</p>
                                </div>
                                
                                
                            </div>
                            <div class="opening-time show-on-scroll" v-for="time in openingTimes">
                                <p>onening time</p>
                                <p>{{time.scheduleOne}}</p>
                                <p>{{time.hourOne}}</p>
                                <p>{{time.scheduleTwo}}</p>
                                <p>{{time.hourTwo}}</p>
                            </div>
                            <div class="footer-img show-on-scroll" v-for="image in footerImg">
                                <img :src="image.image" alt="">
                            </div>
                        </div>
                     </footer>
                     <div class="credits">
                         <div class="credits-container show-on-scroll main-container">
                            <div class="credits-txt">
                                <div class="p-right">
                                    <p> &#169; Copyright 2012- 2020</p>
                                </div>
                                <div class="border">
                                    <p> avada theme by theme fusion</p>
                                </div>
                                <div class="border"> 
                                    <p>all rights reserved</p>
                                </div>
                                <div class="border">
                                    <p>powered by wordpress</p>
                                </div>
                            </div>
                            <div class="credits-socials">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                         </div>
                         <button @click="scrollToTop()"><i class="fas fa-chevron-up"></i></button>
                     </div>
                     <!-- xxx FOOTER -->


                     

      



            </div>





            <script src="./assets/js/main.js"></script>
        </body>
</html>