#activity-section {
    @include flexCenter(center, center, row);
    width: 100vw;
    height: 400px;
    background-image: url('../img/gym_bkgd_bw-compressor.jpg');
    background-position: center;
}

.activity-icon {
    position: relative;
    margin-bottom: 1rem;
    cursor: pointer;

    i {
        opacity: 0;
        transition: opacity 0.3s 0.8s ease-out;
        will-change: opacity;
    }
}

.activity-icon.is-visible i {
    opacity: 1 !important;
}

.activity-card.is-visible {
    opacity: 1 !important;
}

.activity-card:hover i {
    transform: scale(0.8)
}

.activity-card:hover .activity-title p {
    color: $textColorRose;
}

.activity-card {
    @include flexCenter(center, center, column);
    width: calc(100% / 4);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s .30s ease-out;
    will-change: opacity;

    i {
        color: $textColorRose;
        font-size: 2.5rem;
        padding: 1.5rem;
        border: 1px solid $textColorRose;
        border-radius: 50%;
    }

    img {
        padding: 1.5rem;
    }

}

.activity-card:hover .activity-icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: animate 0.7s linear;
}

@keyframes animate {
    0% {
        width: 100%;
        height: 100%;
        border: 8px solid $textColorRose;
        opacity: 0;
    }

    70% {
        opacity: 0.6;
    }

    100% {
        width: 150%;
        height: 150%;
        border: 8px solid $textColorRose;
        opacity: 0.4;
    }
}


.activity-title {
    p {
        color: $textColorWhite;
    }
}

.activity-info {
    width: 80%;

    p {
        color: $textColorGray;
        text-align: center;
        line-height: 1.5rem;
        font-size: 0.8rem;
        font-weight: 300;
    }
}