#footer-top {
    @include flexCenter(space-around !important, center !important, column !important);
    width: 100vw;
    height: 400px;
    background: $backgroundSharkLight;
}

.footer-info {
    @include flexCenter(center, center, column);
}

.come-find-us {
    @include flexCenter(center, none, column);
    width: calc(100% / 4);
    opacity: 0;
    transition: opacity 0.3s .25s ease-out;
    will-change: opacity;


    p {
        color: $textColorGray;
        text-transform: capitalize;
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 1.5rem;

    }

    p:first-child {
        padding-bottom: 1.5rem;
        color: $textColorRegentGray;
        text-transform: uppercase;
    }
}

.recent-posts {
    @include flexCenter(none, none, column);
    width: calc(100% / 4);
    height: 144px;
    opacity: 0;
    transition: opacity 0.3s .35s ease-out;
    will-change: opacity;

    p {
        color: $textColorGray;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.recent-title {
    padding-bottom: 1.5rem !important;
    color: $textColorRegentGray !important;
    text-transform: uppercase !important;

}

.recent-top,
.recent-bottom {
    width: 75%;
    border-bottom: 1px solid $textColorGray;

    p {
        i {
            font-size: 10px;
        }
    }
}

.opening-time {
    @include flexCenter(none, none, column);
    width: calc(100% / 4);
    opacity: 0;
    transition: opacity 0.3s .45s ease-out;
    will-change: opacity;

    p {
        color: $textColorGray;
        text-transform: capitalize;
        font-size: 0.8rem;
        font-weight: 300;
        line-height: 1.5rem;
    }

    p:first-child {
        padding-bottom: 1.5rem;
        color: $textColorRegentGray;
        text-transform: uppercase;
    }

    p:nth-child(3) {
        color: $textColorOsloGray;
    }

    p:nth-child(5) {
        color: $textColorOsloGray;
    }
}

.footer-img {
    width: calc(100% / 4);
    opacity: 0;
    transition: opacity 0.3s .55s ease-out;
    will-change: opacity;
}


.come-find-us.is-visible,
.recent-posts.is-visible,
.opening-time.is-visible,
.footer-img.is-visible {
    opacity: 1;
}