#meet-our-trainers {
    @include flexCenter(center, center, column);
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    padding-bottom: 3rem;
    background: $backgroundSharkLight;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;

    button {
        color: $textColorGray;
        text-transform: uppercase;
        padding: 0.5rem 1.2rem;
        background: transparent;
        outline: none;
        border: 1px solid $textColorGray;
    }

    button:hover {
        cursor: pointer;
        color: $textColorWhite;
        border: 1px solid $textColorWhite;
    }
}

#meet-our-trainers:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: $backgroundSharkLight transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 50%;
}

.trainers-title {
    text-align: center;
    padding-top: 3rem;

    h2 {
        text-transform: uppercase;
        color: $textColorWhite;
    }

    img {
        padding: 2rem 0;
    }
}

.trainer-card {
    @include flexCenter(space-between, center, column);
    margin: 2rem;
    width: 250px;
    background: $backgroundShark;
    transition: transform .4s ease-in-out;
}

.trainer-img {
    img {
        width: 250px;
        transition: transform .4s ease-in-out;
    }
}

.trainer-img:hover {
    img {
        cursor: pointer;
        transform: scale(1.1);
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        transition: transform .4s ease-in-out;
    }
}

.trainer-info {
    padding: 1.2rem;

    i {
        color: white;
        background: $backgroundSharkLight;
        padding: 0.5rem;
        border-radius: 0.2rem;
        font-size: 0.8rem;
    }
}

.description {
    margin: 3rem 0;
    color: $textColorGray;
    font-weight: 300;
    font-size: 0.8rem;
}

.name-profession {
    color: $textColorWhite;

    p:nth-child(2) {
        font-size: 0.8rem;
    }
}