#world-results {
    @include flexCenter(center, center, column);
    flex-wrap: wrap;
    width: 100vw;
    background: $backgroundShark;
    padding: 4rem 0;
}

.world-title {
    text-align: center;

    h2 {
        color: $textColorWhite;
    }

    img {
        padding: 1.5rem 0;
    }
}

.total-cards {
    @include flexCenter(none, center, row);
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}

.card-container {
    @include flexCenter(space-between, center, row);
    width: calc(100% / 2 - 4rem);
    margin: 1rem;
    background: $backgroundSharkLight;
    padding: 2.5rem;
}

.card-info {
    margin-left: 1rem;
    color: $textColorGray;
}