#form-section {
    @include flexCenter(center, center, none);
    width: 100vw;
    height: 400px;
    background: $backgroundSharkLight;
    flex-wrap: nowrap;
    .img-form {
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s .25s ease-out;
        will-change: opacity;

        img {
            transition: transform .4s;
        }
    }

    .img-form:hover img {
        cursor: pointer;
        transform: scale(1.2);
        transform-origin: 50% 50%;
    }
}

.img-form.is-visible {
    opacity: 1 !important;
}


.form-info {
    @include flexCenter(space-around !important, none, row)
}

.form-data-info {
    @include flexCenter(space-around, none, column);
    width: 400px;
    height: 222px;
    color: $textColorWhite;
    margin: 2rem;
    opacity: 0;
    transition: opacity 0.3s .25s ease-out;
    will-change: opacity;

    h4 {

        text-transform: capitalize;
    }

    span {
        color: $textColorGray;
        font-weight: 300;
        text-transform: capitalize;
    }

    input {
        background: transparent;
        outline: none;
        border: 1px solid $textColorRegentGray;
        padding: 0.5rem;
    }

    button {
        background: $textColorRose;
        padding: 1rem 0;
        border: none;
        color: $textColorWhite;
        text-transform: uppercase;
        margin-top: 1rem;
    }


}

.form-data-info.is-visible {
    opacity: 1 !important;
}
