$backgroundShark : #252a2d;
$textColorWhite: white;
$textColorRose: #d5625f;
$textColorGray: #aeafae;
$textColorRegentGray: #7e8995;
$backgroundSharkLight: #212425;
$paddingY: 20px 0;
$paddingY_40: 40px 0;
$textUppercase: uppercase;