@import './variables';
@import './header';
@import './section-intermezzo';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

@mixin flexCenter($justifyMode, $alignMode, $flow) {
    display: flex;
    align-items: $alignMode;
    justify-content: $justifyMode;
    flex-flow: $flow;
}