/* IMPORT FILES */
#header-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #252a2d;
  background-image: url("../img/home-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  text-align: right;
  width: 90%;
  height: 200px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 130px;
  color: white;
}

.navbar-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.navbar-right ul li:first-child a {
  color: #d5625f;
}

.navbar-right li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.navbar-right li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.navbar-right li a:hover {
  color: #d5625f;
}

.jumbotron-impact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  top: 47%;
  left: 49%;
  -webkit-transform: translate(-45%, -50%);
          transform: translate(-45%, -50%);
  height: 200px;
  color: white;
}

.jumbotron-impact h1 {
  font-size: 5rem;
}

.jumbotron-impact p {
  font-weight: 300;
  padding: 20px 0;
}

.jumbotron-impact button {
  padding: 0.8rem 1.2rem;
  background: transparent;
  color: #aeafae;
  text-transform: uppercase;
  border: 1px solid #aeafae;
  outline: none;
  cursor: pointer;
}

.jumbotron-impact button:hover {
  color: #d5625f;
}

.intermezzo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: relative;
  width: 100vw;
  height: 350px;
  padding: 0px;
  background: #252a2d;
  border-radius: 0px;
}

.intermezzo h2 {
  color: white;
}

.intermezzo img {
  padding: 40px 0;
}

.intermezzo p {
  width: 35%;
  text-align: center;
  line-height: 30px;
  color: #aeafae;
}

.intermezzo:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #252a2d transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 50%;
}

#form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: none;
          flex-flow: none;
  width: 100vw;
  height: 400px;
  background: #212425;
}

#form-section .img-form {
  overflow: hidden;
}

#form-section .img-form img {
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

#form-section .img-form:hover img {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.form-data-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 400px;
  height: 222px;
  color: white;
  margin: 2rem;
}

.form-data-info h4 {
  text-transform: capitalize;
}

.form-data-info span {
  color: #aeafae;
  font-weight: 300;
  text-transform: capitalize;
}

.form-data-info input {
  background: transparent;
  outline: none;
  border: 1 px solid white;
  padding: 0.5rem;
}

.form-data-info button {
  background: #d5625f;
  padding: 1rem 0;
  border: none;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
}

#activity-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100vw;
  height: 400px;
  background-image: url("../img/gym_bkgd_bw-compressor.jpg");
  background-position: center;
}

.activity-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: calc(100% / 4);
}

.activity-card i {
  color: #d5625f;
  font-size: 2.5rem;
  padding: 1.5rem;
  border: 1px solid #d5625f;
  border-radius: 50%;
}

.activity-card img {
  padding: 1.5rem;
}

.activity-card p {
  color: #aeafae;
  text-align: center;
  line-height: 1.5rem;
}

#world-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  background: #252a2d;
  padding: 4rem 0;
}

.world-title {
  text-align: center;
}

.world-title h2 {
  color: white;
}

.world-title img {
  padding: 1.5rem 0;
}

.total-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: calc(100% / 2 - 4rem);
  margin: 1rem;
  background: #212425;
  padding: 2.5rem;
}

.card-info {
  margin-left: 1rem;
  color: #aeafae;
}

#high-performance-results {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #252a2d;
}

.performance-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.performance-title h2 {
  color: white;
  text-transform: uppercase;
}

.performance-title img {
  padding: 1rem;
}

.total-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.high-performance-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 5.9rem;
  width: calc(100% / 6);
}

#intermezzo-motivational {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100vw;
  height: 400px;
  background-image: url("../img/home-testimonial-bg.jpg");
  background-position: 50% 41.8%;
  background-repeat: no-repeat;
  background-size: cover;
}

.motivationl-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  width: 35%;
  color: white;
}

.motivationl-text h2 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.motivationl-text img {
  padding: 2rem 0;
}

#meet-our-trainers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100vw;
  padding-bottom: 3rem;
  background: #212425;
  border-radius: 0px;
}

#meet-our-trainers button {
  color: #aeafae;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  background: transparent;
  outline: none;
  border: 1px solid #aeafae;
}

#meet-our-trainers button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

#meet-our-trainers:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #212425 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 50%;
}

.trainers-title {
  text-align: center;
  padding-top: 3rem;
}

.trainers-title h2 {
  text-transform: uppercase;
  color: white;
}

.trainers-title img {
  padding: 2rem 0;
}

.trainer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 2rem;
  width: 250px;
  background: #252a2d;
}

.trainer-img img {
  width: 250px;
}

.trainer-info {
  padding: 1.2rem;
}

.trainer-info i {
  color: white;
  background: #212425;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.description {
  margin: 3rem 0;
  color: #aeafae;
  font-weight: 300;
  font-size: 0.8rem;
}

.name-profession {
  color: white;
}

.name-profession p:nth-child(2) {
  font-size: 0.8rem;
}

#performance-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100vw;
  background: #252a2d;
  padding-bottom: 3rem;
}

#performance-news button {
  color: #aeafae;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  background: transparent;
  outline: none;
  border: 1px solid #aeafae;
}

#performance-news button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

.performer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin: 2rem;
  width: 250px;
  background: #212425;
}

.performer-img img {
  width: 250px;
}

#achieve-your-fitness-goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  width: 100vw;
  height: 200px;
  background-image: url("../img/home-parallax.jpg");
  background-position: 50% 20%;
}

#achieve-your-fitness-goals button {
  color: #aeafae;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  background: transparent;
  outline: none;
  border: 1px solid #aeafae;
}

#achieve-your-fitness-goals button:hover {
  cursor: pointer;
  color: white;
  border: 1px solid white;
}

.text-info-goals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
  color: white;
}

.text-info-goals p {
  font-size: 0.8rem;
  font-weight: 300;
}

.join-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 50%;
}

/* XXX IMPORT FILES */
/* CLASSI COMUNI */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.main-container {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* XXX CLASSI COMUNI */
/*# sourceMappingURL=style.css.map */