/* IMPORT FILES */
@import './variables';
@import './header';
@import './section-intermezzo';
@import './section-form';
@import './activity-section';
@import './results-section';
/* XXX IMPORT FILES */

/* CLASSI COMUNI */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

}


@mixin flexCenter($justifyMode, $alignMode, $flow) {
    display: flex;
    align-items: $alignMode;
    justify-content: $justifyMode;
    flex-flow: $flow;
}

.main-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;


}

/* XXX CLASSI COMUNI */